{% assign trash_icon = 'icon-trash.png' | asset_img_url: 'medium' %}

<div class="accountSection">

  {% comment %} Header {% endcomment %}
  <section class="accountHeader section">
    <h1>{{ 'customer.addresses.title' | t }} ({{ customer.addresses_count }})</h1>
    <p>Add or edit your addresses here</p>
  </section>

  <section class="addresses section">
    <div class="address address-new">
      <div class="address_plus">+</div>
      <span>{{ 'customer.addresses.add_new' | t }}</span>
    </div>
    {% for address in customer.addresses %}
      <div class="address">
          <div class="address_name">{{ address.name }}</div>

          <div class="address_street">
            <div>{{ address.address1 }}</div>
            {% if address.address2 %}<div>{{ address.address2 }}</div>{% endif %}
            <div>{{ address.company }}</div>
            <div>{{ address.zip }} {{ address.city }}</div>
            <div>{{ address.country }}</div>
          </div>

          <div class="address_default">
            {% if address == customer.default_address %}
              <svg class="address_defaultIcon" height="1em" width="1em" focusable="false" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
                <path d="M7.5 13.1L2.4 9.3l1.2-1.6 3.5 2.6 4.7-6.5 1.6 1.1-5.9 8.2z"></path>
              </svg>
              <span>{{ 'customer.addresses.default' | t }}</span>
            {% endif %}
          </div>
          
          <div class="address_actions">

            <form
              class="address_delete"
              method="post"
              action="/account/addresses/{{ address.id }}"
              data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}"
            >
              <input type="hidden" name="_method" value="delete" />
              <button type="submit" style="-webkit-appearance: none; border: none; cursor: pointer;"
              >
                <img class="lazy" style="max-height: 20px; width: auto; height: 100%;" src="{{ trash_icon }}" />
              </button>

            </form>

            <button class="button button-outline" type="button">{{ 'customer.addresses.edit' | t }}</button>
          </div>
      </div>
    {% endfor %}
  </section>

</div>

<script>
  document.querySelectorAll('.address_delete').forEach(deleteForm => {
    deleteForm.addEventListener('submit', event => {
      const confirmMessage = event.target.getAttribute('data-confirm-message');

      if ( !window.confirm(confirmMessage || 'Are you sure you wish to delete this address?') ) {
        event.preventDefault();
      }
    });
  });
</script>

<div id="new-address-form" class="form" style="display: none;">
  {% form 'customer_address', customer.new_address %}
    <h5>{{ 'customer.addresses.add_new' | t }}</h5>

    <div class="formGroups">
      <div class="formGroup formGroup-half">
        <label class="label" for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
        <input class="input" type="text" id="AddressFirstNameNew" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name">
      </div>

      <div class="formGroup formGroup-half">
        <label class="label" for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>
        <input class="input" type="text" id="AddressLastNameNew" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name">
      </div>
    </div>

    <div class="formGroup">
      <label class="label" for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
      <input class="input" type="text" id="AddressCompanyNew" name="address[company]" value="{{ form.company }}" autocomplete="organization">

      <label class="label" for="AddressAddress1New">{{ 'customer.addresses.address1' | t }}</label>
      <input class="input" type="text" id="AddressAddress1New" name="address[address1]" value="{{ form.address1 }}" autocomplete="street-address address-line1">

      <label class="label" for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
      <input class="input" type="text" id="AddressAddress2New" name="address[address2]" value="{{ form.address2 }}" autocomplete="street-address address-line2">
    </div>
    
    <div class="formGroups">
      <div class="formGroup formGroup-half">
        <label class="label" for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>
        <input class="input" type="text" id="AddressCityNew" name="address[city]" value="{{ form.city }}" autocomplete="address-level2">
      </div>

      <div class="formGroup formGroup-half">
        <label class="label" for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
        <div class="select-styled">
          <select id="AddressCountryNew" name="address[country]" data-default="{{ form.country }}" autocomplete="country">{{ all_country_option_tags }}</select>
        </div>
      </div>
    </div>

    <div class="formGroup" id="AddressProvinceContainerNew" style="display:none">
      <label class="label" for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
      <select id="AddressProvinceNew" name="address[province]" data-default="{{ form.province }}" autocomplete="address-level1"></select>
    </div>

    <div class="formGroup">
      <label class="label" for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
      <input class="input" type="text" id="AddressZipNew" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code">
    </div>

    <div class="formGroup">
      <label class="label" for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
      <input class="input" type="tel" id="AddressPhoneNew" name="address[phone]" value="{{ form.phone }}" autocomplete="phone">
    </div>

    <div class="formGroup" style="display: flex;">
      {{ form.set_as_default_checkbox }}
      <label class="label" for="address_default_address_new">{{ 'customer.addresses.set_default' | t }}</label>
    </div>

    <div><input class="button" type="submit" class="btn" value="{{ 'customer.addresses.add' | t }}"></div>
    <div><button class="button" type="button" class="text-link address-new-toggle">{{ 'customer.addresses.cancel' | t }}</button></div>
  {% endform %}
</div>
