{% assign settings = section.settings %}
{% assign heading = settings.heading %}
{% assign subheading = settings.subheading %}
{% assign label_email_text = settings.label_email_text %}
{% assign placeholder_email_text = settings.placeholder_email_text %}
{% assign submit_button_text = settings.submit_button_text %}
{% assign back_to_store_link_text = settings.back_to_store_link_text %}

{% comment %} Message {% endcomment %}
{% assign error_message = settings.form_error_message %}

<div class="recoverPassword" id="recoverPassword">
  <div class="recoverPassword_backdrop"></div>
  <div class="recoverPassword_container">

    <div class="recoverPassword_header">
      <h2>{{ heading }}</h2>
      <p>{{ subheading }}</p>
    </div>

    {% form 'recover_customer_password', class: 'recoverPasswordForm' %}
      {% assign form_errors = form.errors %}
      {% if form_errors %} {{ error_message }} {% endif %}

      <div class="formGroup">
        <label class="label" for="recover-email">{{ label_email_text }}</label>
        <input id="recover-email" class="input" name="email" type="email" value="" placeholder="{{ placeholder_email_text }}" required>
      </div>

      <button class="button button-block" type="submit">{{ submit_button_text }}</button>
    {% endform %}

    <a class="recoverPassword_backToStore link text-centered" id="hideRecoverPasswordOverlay" href="#">{{ back_to_store_link_text }}</a>

  </div>
</div>

{% schema %}
  {
    "name": "Forgot Password",
    "settings": [
      {
        "type": "header",
        "content": "Header text"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Forgot Password"
      },
      {
        "type": "textarea",
        "id": "subheading",
        "label": "Subheading",
        "default": "An e-mail will be sent to you with a link to reset your password."
      },
      {
        "type": "header",
        "content": "Form"
      },
      {
        "type": "text",
        "id": "label_email_text",
        "label": "Label email",
        "default": "E-mail"
      },
      {
        "type": "text",
        "id": "placeholder_email_text",
        "label": "Placeholder email",
        "default": "your@email.com"
      },
      {
        "type": "text",
        "id": "submit_button_text",
        "label": "Recover button text",
        "default": "Recover password"
      },
      {
        "type": "text",
        "id": "back_to_store_link_text",
        "label": "Link text",
        "default": "Back to store"
      },
      {
        "type": "header",
        "content": "Form messages"
      },
      {
        "type": "textarea",
        "id": "form_error_message",
        "label": "Error message",
        "default": "No accoutn found with e-mail"
      }
    ]
  }
{% endschema %}
