{% assign settings = section.settings %}
{% assign heading = settings.heading %}
{% assign subheading = settings.subheading %}
{% assign label_reset_password_text = settings.label_reset_password_text %}
{% assign placeholder_reset_password_text = settings.placeholder_reset_password_text %}
{% assign label_reset_password_confirmation_text = settings.label_reset_password_confirmation_text %}
{% assign placeholder_reset_password_confirmation_text = settings.placeholder_reset_password_confirmation_text %}
{% assign submit_button_text = settings.submit_button_text %}
{% assign back_to_store_link_text = settings.back_to_store_link_text %}

<section class="resetPassword section">
  <header class="account_header section-header">
    <h2 class="account_heading">{{ heading }}</h2>
    <p>{{ subheading }}</p>
  </header>

  <div class="resetPassword_container">
    {% form 'reset_customer_password' %}

      <div class="formGroup">
        <label class="label" for="customer[password]">{{ label_reset_password_text }}</label>
        <input id="reset-password" class="input" type="password" value="" name="customer[password]" size="16" placeholder="{{ placeholder_reset_password_text }}" required>
      </div>

      <div class="formGroup">
        <label class="label" for="customer[password_confirmation]">{{ label_reset_password_confirmation_text }}</label>
        <input id="reset-password-confirmation" class="input" type="password" value="" name="customer[password_confirmation]" size="16" placeholder="{{ placeholder_reset_password_confirmation_text }}" required>
      </div>

      <button class="button button-block" type="submit">{{ submit_button_text }}</button>
    {% endform %}

    <div class="text-centered">
      <a class="resetPassword_link link" href="/">{{ back_to_store_link_text }}</a>
    </div>

  </div>
</section>

{% schema %}
  {
    "name": "Recover Password",
    "settings": [
      {
        "type": "header",
        "content": "Header text"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Reset Password"
      },
      {
        "type": "textarea",
        "id": "subheading",
        "label": "Subheading"
      },
      {
        "type": "header",
        "content": "Form"
      },
      {
        "type": "text",
        "id": "label_reset_password_text",
        "label": "Label password",
        "default": "Password"
      },
      {
        "type": "text",
        "id": "placeholder_reset_password_text",
        "label": "Placeholder password",
        "default": "Enter password"
      },
      {
        "type": "text",
        "id": "label_reset_password_confirmation_text",
        "label": "Label Confirm Password",
        "default": "Confirm Password"
      },
      {
        "type": "text",
        "id": "placeholder_reset_password_confirmation_text",
        "label": "Placeholder password confirmation",
        "default": "Enter password again"
      },
      {
        "type": "text",
        "id": "submit_button_text",
        "label": "Reset button text",
        "default": "Reset password"
      },
      {
        "type": "text",
        "id": "back_to_store_link_text",
        "label": "Link text",
        "default": "Back to store"
      }
    ]
  }
{% endschema %}
