{% assign settings = section.settings %}

{% assign brand_name = shop.name %}

{% comment %} Background Image {% endcomment %}
{% assign background_image_url = settings.background_image | img_url: '1920x', format: 'pjpg', scale: 1.5 %}

{% comment %} Logo {% endcomment %}
{% assign logo = settings.logo %}
{% assign logo_width = settings.logo_width | append: 'px;' %}
{% assign logo_alt = settings.logo.alt %}

{% comment %} Text {% endcomment %}
{% assign heading = settings.heading %}
{% assign subheading = settings.subheading %}
{% assign text_colour = settings.text_colour %}

{% comment %} Button {% endcomment %}
{% assign button_contact_email = settings.button_email %}
{% assign button_text = settings.button_text %}

{% comment %} Form {% endcomment %}
{% assign access_button_text = settings.enter_store_popup_access_button_text %}
{% assign enter_store_popup_title = settings.enter_store_popup_title %}
{% assign form_input_placeholder = settings.enter_store_popup_input_placeholder %}
{% assign form_button_submit = settings.enter_store_popup_submit_button_text %}

{% capture icon_unlock %}
  <img class="icon_unlock" src="{{ 'icon-unlock-white.svg' | asset_url }}" />
{% endcapture %}

<section class="password section" style="background-image: url('{{ background_image_url }}');">
  <div class="password_container">
    <div class="password_content">

      {%- if logo -%}
        <img class="password_logo" style="max-width: {{ logo_width }}" src="{{ logo | img_url: '800x' }}" alt="{{ logo_alt }}" />
      {%- endif -%}

      <h1 class="passowrd_heading" style="color: {{ text_colour }};">{{ heading }}</h1>
      <h2 class="password_subheading" style="color: {{ text_colour }};">{{ subheading }}</h2>

      {% comment %} {% if button_contact_email and button_text %}
      <a href="mailto:{{ button_contact_email }}" class="password_button button button-white">{{ button_text }}</a>
      {% endif %} {% endcomment %}
    </div>
  </div>

  <div class="password_access">
    <a class="password_accessButton" href="#" style="color: {{ text_colour }};">
      {{ icon_unlock }}
      <span>{{ access_button_text }}<span>
    </a>
  </div>
</section>

{% comment %} Enter store modal {% endcomment %}
<div id="model-access" class="modal">
  <div class="modal_container">

    <h4>{{ enter_store_popup_title }}</h4>

    {% form 'storefront_password' %}
      <div class="formGroup">
        <input class="input" type="password" name="password" id="Password" placeholder="{{- form_input_placeholder -}}">
      </div>
      <button class="button button-block" type="submit" name="commit">{{ form_button_submit }}</button>
      {{ form.errors | default_errors }}
    {% endform %}

  </div>
</div>

<script>
let password = document.querySelector('.password')
let enterStoreButton = password.querySelector('.password_accessButton')
let modal = document.querySelector('.modal')

enterStoreButton.addEventListener('click', function(event) {
  event.preventDefault()

  if (modal.classList.contains('modal-visible')) {
    modal.classList.remove('modal-visible')
  } else {
    modal.classList.add('modal-visible')
  }
})
</script>

{% schema %}
  {
    "name": "Password",
    "settings": [
      {
        "type": "header",
        "content": "Images"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background Image",
        "info": "Recommended 1920x1080 pixels"
      },
      {
        "type": "header",
        "content": "Logo"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo",
        "info": "Filetype must be .png"
      },
      {
          "type": "range",
          "id": "logo_width",
          "min": 100,
          "max": 800,
          "step": 50,
          "unit": "px",
          "label": "Logo width",
          "default": 300
      },
      {
        "type": "header",
        "content": "Text"
      },
      {
        "type": "select",
        "id": "text_colour",
        "label": "Text colour",
        "default": "#ffffff",
        "options": [
          {
            "value": "#000000",
            "label": "Black (#000000)"
          },
          {
            "value": "#ffffff",
            "label": "White (#ffffff)"
          }
        ]
      },
      {
        "type": "textarea",
        "id": "heading",
        "label": "Heading",
        "default": "Introducing Vanilla"
      },
      {
        "type": "textarea",
        "id": "subheading",
        "label": "Subheading",
        "default": "The holy grail of Shopify themes"
      },
      {
        "type": "header",
        "content": "Button"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "Contact Us"
      },
      {
        "type": "text",
        "id": "button_email",
        "label": "Contact E-mail",
        "info": "e.g. hello@vanilla.com"
      },
      {
        "type": "header",
        "content": "Enter Store Popup"
      },
      {
        "type": "text",
        "id": "enter_store_popup_title",
        "label": "Title",
        "default": "Enter password to access store"
      },
      {
        "type": "text",
        "id": "enter_store_popup_access_button_text",
        "label": "Access Button Text",
        "default": "Log in"
      },
      {
        "type": "text",
        "id": "enter_store_popup_input_placeholder",
        "label": "Input Password Placeholder",
        "default": "Enter Password"
      },
      {
        "type": "text",
        "id": "enter_store_popup_submit_button_text",
        "label": "Enter Store Button Text",
        "default": "Enter Store"
      }
    ]
  }
{% endschema %}
